In [1]:
import pandas as pd
import yaml

In [4]:
with open('../input/dtypes.yaml', 'r') as yamlfile:
    dtypes = yaml.load(yamlfile)

In [5]:
read_csv_opts = {'sep': '|',
                 'quotechar': '"',
                 'compression': 'gzip',
                 'encoding': 'utf-8',
                 'dtype': dtypes,
                 'parse_dates': ['MissionDate'],
                 'infer_datetime_format': True}

In [8]:
fy11 = '../input/ARTS_Passenger_Data_FY11.csv.gz'
fy12 = '../input/ARTS_Passenger_Data_FY12.csv.gz'
fy13 = '../input/ARTS_Passenger_Data_FY13.csv.gz'
fy14 = '../input/ARTS_Passenger_Data_FY14.csv.gz'
fy15 = '../input/ARTS_Passenger_Data_FY15.csv.gz'
fy16 = '../input/ARTS_Passenger_Data_FY16.csv.gz'
fy17 = '../input/ARTS_Passenger_Data_FY17.csv.gz'
fy18 = '../input/ARTS_Passenger_Data_FY18.csv.gz'
fy19 = '../input/ARTS_Passenger_Data_FY19.csv.gz'

In [9]:
arts_fy11 = pd.read_csv(fy11, **read_csv_opts)
arts_fy12 = pd.read_csv(fy12, **read_csv_opts)
arts_fy13 = pd.read_csv(fy13, **read_csv_opts)
arts_fy14 = pd.read_csv(fy14, **read_csv_opts)
arts_fy15 = pd.read_csv(fy15, **read_csv_opts)
arts_fy16 = pd.read_csv(fy16, **read_csv_opts)
arts_fy17 = pd.read_csv(fy17, **read_csv_opts)
arts_fy18 = pd.read_csv(fy18, **read_csv_opts)
arts_fy19 = pd.read_csv(fy19, **read_csv_opts)

In [10]:
files = [arts_fy11,
         arts_fy12,
         arts_fy13,
         arts_fy14,
         arts_fy15,
         arts_fy16,
         arts_fy17,
         arts_fy18,
         arts_fy19]

In [11]:
df = pd.concat(files, sort=False)

In [15]:
duplicated = df[df.duplicated('AlienMasterID')]

In [23]:
bad_puloc = list(duplicated['PULOC'].unique())

In [24]:
bad_droploc = list(duplicated['DropLoc'].unique())

In [39]:
bad_airports = pd.read_csv('../hand/bad_airports.csv')

In [40]:
known_bad = bad_airports['airport_code']

In [21]:
df.columns

Index(['Status', 'Sex', 'Convictions', 'GangMember', 'ClassLvl', 'Age',
       'MissionDate', 'MissionNumber', 'PULOC', 'DropLoc', 'StrikeFromList',
       'ReasonStruck', 'R-T', 'Code', 'CountryOfCitizenship', 'Juvenile',
       'MissionWeek', 'MissionQuarter', 'MissionYear', 'MissionMonth',
       'Criminality', 'FamilyUnitFlag', 'UnaccompaniedFlag', 'AlienMasterID',
       'MissionID', 'air_AirportID', 'air_AirportName', 'air_City',
       'st_StateID', 'st_StateAbbr', 'AOR_AORID', 'AOR_AOR', 'AOR_AORName',
       'air_Country', 'air2_AirportID', 'air2_AirportName', 'air2_City',
       'st2_StateID', 'st2_StateAbbr', 'aor2_AORID', 'aor2_AOR',
       'aor2_AORName', 'air2_Country'],
      dtype='object')

In [22]:
metadata = ['air_AirportID', 'air_AirportName', 'air_City',
            'st_StateID', 'st_StateAbbr', 'AOR_AORID', 'AOR_AOR', 'AOR_AORName',
            'air_Country', 'air2_AirportID', 'air2_AirportName', 'air2_City',
            'st2_StateID', 'st2_StateAbbr', 'aor2_AORID', 'aor2_AOR',
            'aor2_AORName', 'air2_Country']

In [35]:
pu_metadata = ['PULOC', 'air_AirportID', 'air_AirportName', 'air_City',
            'st_StateID', 'st_StateAbbr', 'AOR_AORID', 'AOR_AOR', 'AOR_AORName',
            'air_Country']

In [36]:
do_metadata = ['DropLoc','air2_AirportID', 'air2_AirportName', 'air2_City',
            'st2_StateID', 'st2_StateAbbr', 'aor2_AORID', 'aor2_AOR',
            'aor2_AORName', 'air2_Country']

In [41]:
df[df['PULOC'].isin(known_bad)][pu_metadata].drop_duplicates()

,PULOC,air_AirportID,air_AirportName,air_City,st_StateID,st_StateAbbr,AOR_AORID,AOR_AOR,AOR_AORName,air_Country
192703,KNYL,91.0,Yuma MCAS/Yuma International Airport,Yuma Naval,4.0,AZ,17.0,PHO,Phoenix,USA
192704,KNYL,90.0,Yuma MCAS/Yuma International Airport,Yuma,3.0,AR,17.0,PHO,Phoenix,USA
2348,KFTW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184654,KALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3060,KFTW,301.0,Fort Worth Meacham International Airport,Fort Worth,46.0,TX,NaN,NaN,NaN,USA

In [42]:
df[df['DropLoc'].isin(known_bad)][do_metadata].drop_duplicates()

,DropLoc,air2_AirportID,air2_AirportName,air2_City,st2_StateID,st2_StateAbbr,aor2_AORID,aor2_AOR,aor2_AORName,air2_Country
113354,KNYL,91.0,Yuma MCAS/Yuma International Airport,Yuma Naval,4.0,AZ,17.0,PHO,Phoenix,USA
113355,KNYL,90.0,Yuma MCAS/Yuma International Airport,Yuma,3.0,AR,17.0,PHO,Phoenix,USA
47132,HAAB,29.0,Bole International Airport,Addis Ababa,NaN,NaN,NaN,NaN,NaN,Ethiopia
47133,HAAB,244.0,Addis Ababa Bole International Airport,Bole,NaN,NaN,NaN,NaN,NaN,Ethiopia
82344,BKPR,263.0,Pristina International Airport,Pristina,NaN,NaN,NaN,NaN,NaN,Kosovo
35029,KMDW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86918,KMHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105634,ORBI,289.0,Baghdad International Airport,Baghdad,NaN,NaN,NaN,NaN,NaN,Iraq
105635,ORBI,165.0,Baghdad International Airport,Baghdad,NaN,NaN,NaN,NaN,NaN,Iraq
19200,KFTW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76543,NSFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140614,KALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177274,FCBB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177276,FYWH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177747,HBBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187147,SBCF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22944,KFTW,301.0,Fort Worth Meacham International Airport,Fort Worth,46.0,TX,NaN,NaN,NaN,USA